<div class="container-fluid main_div_style">

  <div class="row">
    
    <div class="col-lg-4 col-md-4"></div>

    <div class="col-lg-4 col-md-4 form_style">

      <h4 class="head_style">Student Login Form</h4><br>

      <form #frm="ngForm">

        <input type="text" class="form-control" name="txt_username" #txtUsername="ngModel"  [(ngModel)]="username" required
        placeholder="Username" pattern="^\w+([\.-]?\w+)*@\w([\.-]?\w+)*(\.\w{2,3})+$"><br>
      
          <div class="alert alert-danger" *ngIf="!txtUsername.valid && txtUsername.touched">
            <span *ngIf="txtUsername.errors.required">Username is required</span>
            <span *ngIf="txtUsername.errors.pattern">Please enter email is correct format</span>
          </div>
        
        <input type="text" class="form-control" name="txt_password" #txtPassword="ngModel" [(ngModel)]="password" required 
        placeholder="Password" minlength="8"><br>

          <div class="alert alert-danger" *ngIf="!txtPassword.valid && txtPassword.touched">
            <span *ngIf="txtPassword.errors.required">Password is required</span>
            <div *ngIf="txtPassword.errors.minlength">Minlength 8 is required</div>
          </div>
    
        <button (click) = "onSubmit()" class="btn btn-primary field_style" [disabled]="!frm.valid">Login</button>
      </form>
    </div>

    <div class="col-lg-4 col-md-4"></div>

  </div>

</div>




